.logo {
  height: 22px;
}
.reading-image1 {
  height: 400px;
  margin-left: 35px;
}

.login_form {
  width: 70%;
  margin-top: 18%;
  margin-left: 14%;
  padding: 36px;
  padding-bottom: 10%;
  padding-top: 8%;
  background-color: #ada9ea;
  border-radius: 25px;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.intro {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-left: 56px;
  font-size: 27px;
  margin-bottom: 50px;
  padding-right: 100px;
}
.row {
  min-height: 100vh;
  background-color: #f2f2f2;
}
.login {
  padding-bottom: 13px;
  color: white;
}
.form-label {
  color: white;
}
