.loginPage {
  background-color: #f2f2f2;
  height: 100vh;
}

.logo {
  height: 22px;
}
.reading-image1 {
  height: 400px;
  margin-left: 35px;
}
//add sass file with variables and change button color to orange
.login_form {
  width: 100%;
  margin-top: 15%;
  padding: 9%;
  background-color: #ada9ea;
  border-radius: 25px;
}
.button {
  margin-left: 13%;
  margin-top: 5px;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.intro {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-left: 56px;
  font-size: 27px;
  margin-bottom: 50px;
  padding-right: 100px;
}

.login {
  padding-bottom: 13px;
  color: white;
}
.form-label {
  color: white;
}

.email {
  max-width: 75%;
  margin-left: 13%;
}
.password {
  max-width: 75%;
  margin-left: 13%;
}
