.logo {
  height: 30px;
}
.reading-image1 {
  height: 400px;
  margin-left: 35px;
}
.login {
  margin-top: 15%;
  margin-left: 15%;
  margin-top: 23%;
}
.login_form {
  width: 70%;
  margin-left: 15%;
  margin-top: 30px;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.intro {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-left: 56px;
  font-size: 30px;
  margin-bottom: 50px;
  padding-right: 100px;
}
